body {
    background: #ededee;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    cursor: default;
}

.parent-form {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 25px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.parent-form input {
    border: none;
    border-bottom: 1px solid #ccc;
	padding: 15px;
	margin: 15px;
    width: 75%;
}

button {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    color: #FFFFFF;
    border: 1px solid #2bbbad;
    background-color: #2bbbad;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

.parent-form .button-LR {
    padding: 12px 45px;
    margin: 10px;
}

.errorMsg {
    color: red;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.dashboard-header .title {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 1.5em;
    font-weight: bold;
}

.drop-down-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.drop-down-parent .dropdown {
    width: 40%;
}

.drop-down-parent .button-DP {
    padding: 10px 40px;
}

.data-migration-list {
    padding: 10px;
}

.data-migration-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column-list {
    border: 3px solid #FF9800;
    border-style: dashed;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.data-migration-list .button-DP {
    padding: 20px;
    margin-top: 20px;
    width: 20%;
}

.button-disable {
    opacity: 0.5;
    pointer-events: none;
}

.data-migration-top {
    margin: 20px;
}

.data-migration-top .title {
    font-size: 1.5em;
    font-weight: bold;
}

.data-migration-top .info {
    font-size: 15px;
    font-style: italic;
}